<!-- <p>

  <br>
  Tuổi {{ age}}
  </p>
  <h1>{{ title}}</h1>
  <img [src]="imgUrl" [alt]="title" style="width:20% ; height:20% ;">
  <button (click)="calltitel()">click</button>
  <input [(ngModel)]="title" type="text" title="Đây Là Tên"/>
  <input [(ngModel)]="age" type="text" title="Đây Là Tên"/>
  <button (click)="ageless()">Giảm Tuổi</button>
  <button (click)="agemore()">Tăng Tuổi</button>
  <div *ngIf="age > 17; then age1 else age2"></div>
 <div *ngIf="age <= 17">uong bia</div>
<ng-template #age1>uong bia</ng-template>
<ng-template #age2>uong ruou</ng-template> -->
<!-- <div *ngFor="let hi of hay; let id = index">
  <label >{{ id + 1 }}.{{ hi }}</label>
</div> -->

  <!-- app.component.html -->
  <!-- <app-bai3></app-bai3>;
  <app-pet></app-pet>;
  <app-product></app-product>; -->
  <!-- <app-pipe></app-pipe>; -->
   
   <!-- <app-article></app-article> -->
   <!-- <app-name-card></app-name-card> -->
   <!-- <app-output (Chaclick)="handleChaClick()"></app-output> -->
   <h1>Hello Cường</h1>
   <nav>
     <ul>
      <table cellPadding="10px">
        <tr>
          <td><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></td>
          <td><a routerLink="/bai3" routerLinkActive="active" ariaCurrentWhenActive="page">Bài 3</a></td>
          <td><a routerLink="/pet" routerLinkActive="active" ariaCurrentWhenActive="page">pet</a></td>
          <td><a routerLink="/product" routerLinkActive="active" ariaCurrentWhenActive="page">product</a></td>
          <td><a routerLink="/pipe" routerLinkActive="active" ariaCurrentWhenActive="page">pipe</a></td>
          <td><a routerLink="/Article" routerLinkActive="active" ariaCurrentWhenActive="page">Article</a></td>
          <td><a routerLink="/NameCard" routerLinkActive="active" ariaCurrentWhenActive="page">NameCard</a></td>
          <td><a routerLink="/Output" routerLinkActive="active" ariaCurrentWhenActive="page">Output</a></td>
          <td><a routerLink="/ProgressBar" routerLinkActive="active" ariaCurrentWhenActive="page">ProgressBar</a></td>
          <td><a routerLink="/RatingBar" routerLinkActive="active" ariaCurrentWhenActive="page">RatingBar</a></td>
          <td><a routerLink="/CountdownTimer" routerLinkActive="active" ariaCurrentWhenActive="page">CountdownTimer</a></td>
        </tr>
        <tr>
          <td><a routerLink="/Todo" routerLinkActive="active" ariaCurrentWhenActive="page">Todo</a></td>
          <td><a routerLink="/RegisterForm" routerLinkActive="active" ariaCurrentWhenActive="page">RegisterForm</a></td>
          <td><a routerLink="/timelines" routerLinkActive="active" ariaCurrentWhenActive="page">timelines</a></td>
          <td><a routerLink="/youtube" routerLinkActive="active" ariaCurrentWhenActive="page">Youtube</a></td>
        </tr>
  </table></ul>
</nav>
<router-outlet></router-outlet>