<!-- <p>

  <br>
  Tuổi {{ age}}
  </p>
  <h1>{{ title}}</h1>
  <img [src]="imgUrl" [alt]="title" style="width:20% ; height:20% ;">
  <button (click)="calltitel()">click</button>
  <input [(ngModel)]="title" type="text">
  <button (click)="ageless()">Giảm Tuổi</button>
  <button (click)="agemore()">Tăng Tuổi</button> -->

  <!-- app.component.html -->
  <!-- <app-bai3></app-bai3>;
  <app-pet></app-pet>;
  <app-product></app-product>; -->
  <!-- <app-pipe></app-pipe>;
   -->
   <app-article></app-article>